@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --color-fondo: #E9ECF8;
    --color-primario: #0A3871;
    --color-secundario: #495057;

    --fuente-inter: "Inter", sans-serif;
}

* {
    padding: 0%;
    margin: 0%;
    font-family: var(--fuente-inter);
}

body {
    box-sizing: border-box;
    background-color: var(--color-fondo);
    color: var(--color-primario);
}
 header {
    padding: 2% 0% 0% 5%;
 }

 .contenedor-principal {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
 }

 .zona-entrada {
    width: 50%;
    padding: 2%;
 }

 .area-texto {
    width: 81%;
    resize: none;
    background-color: unset;
    border: 1px solid var(--color-primario);
    border-radius: 10px;
    padding: 10px;
 }

#area-texto-listo {
    display: none;
    width: 90%;
}

.zona-salida {
    display: flex;
    background-color: #FFFFFF;
    padding: 8% 4%;
    margin: 2%;
    height: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.texto {
    color: #000000;
}

.titulo{
    font-weight: 700;
}

 .boton {
    background-color: var(--color-fondo);
    border: 1px solid var(--color-primario);
    border-radius: 12px;
    padding: 15px 80px;
    color: var(--color-primario);
 }

 .boton__oscuro {
    background-color: var(--color-primario);
    color: var(--color-fondo);
 }

#boton-copiar {
    display: none;
}

 footer {
    background-color: var(--color-primario);
    color: var(--color-fondo);
    padding: 24px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    position: absolute;
    width: 100%;
 }